/* === CSS DOCUMENT === */
/* 1. General Setup */
/* 1.1 Reset and normalization */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

html, body {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/* 1.3 Base */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
}

/* 1.2 Typographic Elements 
TODO: set up other typographic elements like h1, etc.
*/
h1{
    font-size: 2.5rem;
}

p:not(:last-child) {
    padding-bottom: 0.5rem;
}

button{
    padding: 0.2rem 1rem;
}

/* UTILITIES */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.scroll {
    overflow-y: scroll;
}

.center-horizontally{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* 2. Templates and component */

/* 2.A Scene */
#main_scene {
    display: block;
    position: relative;
    z-index: 1;
}

.info-window-interface{
    position: absolute;
    height: auto;
    background-color: #0006;
    color: white;
    padding: 2rem;
    z-index: 10;
    visibility: hidden;
}

#info-window{
    bottom: 2rem;
    left: 2rem;
    width: 500px;
}

.info-title{
    text-transform: capitalize;
}

.info-url{
    font-style: italic;
    color: rgb(224, 169, 218);
}

#instruction-window {
    right: 0.5rem;
    width: 10vw;
    min-width: 20rem;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

#instruction-window h1 {
    padding-bottom: 0.8rem;
}

/* 2B. LOADING SCREEN */
.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    flex-flow: column;
    height: 100%;
    width: 100%;
    background: #cecece;
}
.loading-screen img {
    width: 10%;
}
.loading {
    font-size: 30px;
    color: white;
}

/* ---- 2. Planning ---- */
.planning-screen {
    position: relative;
    height: 100%;
    width: 100%;
    background: #3a394b;
}

/* ---- 2.1 Planning: Sidebar ---- */
.planning-screen-sidebar {
    height: 100%;
    width: 25%;
    min-width: 250px;
    float: left;
}

/* ---- 2.1.1 Title  ---- */
.planning-screen-title {
    background: rgb(88, 88, 88);
    height: 30%;
    width: 100%;
    display: flex;
    flex-flow: column;
    color: white;
}

.planning-screen-title h1 {
    font-size: 3.5rem;
}
.planning-screen-title h2 {
    font-size: 1.5rem;
    text-align: center;
}

/* ---- 2.1.2 Group List ---- */
.group-list-container {
    width: 100%;
    height: 70%;
    background: #e9e9e9;
    position: relative;
}

.group-list-title {
    font-size: 2rem;
    padding: 1rem;
}

.group-list {
    background: #cecece;
    height: 70%;
    list-style-type: none;
}

.group-list li {
    margin: 3px; 
    padding: 0.4rem; 
    font-size: 1.4rem; 
    vertical-align: middle;
}
.group-list li:hover {
    background: black;
    color: white;
    cursor: pointer;
}


/* ---- 2.1.3 Create New Group Section ---- */
.group-list-newgroup {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 20%;
    width: 100%;
}

.group-list-newgroup input {
    width: 80%;
    margin-bottom: 1rem;
    height: 2rem;
    padding: 0 5px;
}

.group-list-newgroup button {
    background: black;
    color: white;
    padding: 5px 15%;
    border: 0;
    border-radius: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.group-list-newgroup button:hover {
    cursor: pointer;
}

.group-list-newgroup button:active {
    background: blue;
}

/* ---- 2.2 Planing: Main area ---- */
/* ---- 2.2.1 Group Title Container ---- */
.group-title-container {
    margin: 1.5rem auto;
    width: 60%;
    border-radius: 20px;
    background: #f9f9ff;
    padding: 0.5rem;
}

.group-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.group-option {
    font-size: 1.2rem;
    text-align: center;
}

.group-option li{
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

.group-option li:not(:last-child){
    margin-right: 2rem;
}

.group-option li:hover{
    color: #3a394b;
}

#DefaultColourInput {
    height: 1rem;
    width: 2.5rem;
    padding: 0.2rem;
}

/* ---- 2.2.3 Element Container ----- */
.element-container {
    background: #f9f9ff;
    width: 80%;
    height: 20rem;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
}
/* ---- 2.2.3.1 Normal mode  ---- */
.element-info-mode{
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
}

.element-info-mode a{
    display: inline-block;
    text-decoration: none;
}

.element-colour{
    display: inline-block;
    height: 2rem;
    width: 4rem;
    background-color: red;
    vertical-align: middle;


}

/* ----- 2.2.3.2 Edit Mode ---- */
.element-edit-mode{
    width: 100%;
}

.element-input {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.3rem;
}

.element-desc.element-input{
    height: 6rem;
}

.edit-row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#createNewEl {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/******* MEDIA QUERIES ******
TODO:
- Reduce margins of elements on resize.
*/

@media all and (max-width: 1000px) {
    html {
        font-size: 62.5%;
    }
    .group-infos {
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    html {
        font-size: 50%;
    }

    .group-list li,
    .group-option li {
        display: block;
    }
}