/* === CSS DOCUMENT === */

/******** RESET ********/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/******** GENERAL ********/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
}
.element-input {
    border: none;
    text-align: center;
}
.scroll {
    overflow-y: scroll;
}

/******** UNIQUE ********/

/* Scene */
#main_scene {
    display: block;
    position: relative;
    z-index: 1;
}

#info-window{
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 20px;
    height: auto;
    background-color: #0006;
    color: white;
    padding: 20px;
    width: 500px;
    visibility: hidden;
}

#info-window > *:not(:last-child) {
    padding-bottom: 5px;
}

.info-title{
    text-transform: capitalize;
}

.info-url{
    font-style: italic;
    color: rgb(224, 169, 218);
}

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    flex-flow: column;
    height: 100%;
    width: 100%;
    background: #cecece;
}
.loading-screen img {
    width: 10%;
}
.loading {
    font-size: 30px;
    color: white;
}

/* Planning */
.planning-screen {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;
    background: #3a394b;
}
.planning-screen figure {
    background: rgb(88, 88, 88);
    height: 30%;
    width: 25%;
    flex-flow: column;
    color: white;
}
.planning-screen figure h1 {
    font-size: 3.5em;
}
.planning-screen figure h3 {
    font-size: 1.5em;
}

.group-list {
    height: 70%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background: #e9e9e9;
}
.group-list h1 {
    font-size: 2em;
    height: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.group-list ol {
    height: 70%;
    background: #cecece;
    padding: 5%;
    list-style-type: none
}
.group-list ol li {
    margin: 3px; 
    padding: 0.4em; 
    font-size: 1.4em; 
    height: 1em;
}
.group-list ol li:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.group-list aside {
    height: 10%;
    width: 100%;
    padding-top: 0.5em;
    flex-flow: row wrap;
}
.group-list aside input{
    width: 60%;
}

.group-elements {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: baseline;
    width: 75%;
    min-height: 100%;
    background: #3a394b;
}
.group-title {
    margin-top: 2%;
    min-width: 40%;
    font-size: 2.5em;
    border-radius: 20px;
    background: #f9f9ff;
}

/* Container */
.element-container {
    background: #f9f9ff;
    margin: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    flex-flow: wrap;
    flex: 1 0 auto;
}
.element-name {
    background: rgb(68, 68, 68);
    color: white;
    margin: 1%;
    width: 30%;
    height: 2em;
    font-size: 1.5em;
    font-weight: 100;
}
.element-url {
    background: rgb(177, 177, 177);
    color: white;
    width: 65%;
    margin: 1%;
    height: 1.5em;
    font-size: 1.5em;
    font-weight: 100;
}
.element-desc {
    color: black;
    overflow-wrap: break-word;
    text-align: left;
    padding: 1%;
    margin: 1%;
    width: 80%;
    height: 6em;
    font-size: 1em;
    font-weight: 100;
}
.element-img {
    color: white;
    margin: 1%;
    max-width: 10em;
    max-height: 10em;
    font-weight: 100;
}

/******* MEDIA QUERIES *******/

@media all and (max-width: 1000px) {
    body {
        font-size: 10px;
    }
    .group-infos {
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    body {
        font-size: 7px;
    }
}